---
AccessModifierOffset: -4
BraceWrapping:
    AfterCaseLabel: true
    AfterControlStatement: Always
AlignEscapedNewlines: Left
AlignTrailingComments:
    Kind: Never
    OverEmptyLines: 0
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: Microsoft
BinPackArguments: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeConceptDeclarations: Always
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeColon
Cpp11BracedListStyle: true
ColumnLimit: 140
FixNamespaceComments: false
IndentAccessModifiers: false
IndentPPDirectives: None
IndentRequiresClause: false
InsertNewlineAtEOF: true
LineEnding: CRLF
NamespaceIndentation: None
PackConstructorInitializers: BinPack
PointerAlignment: Left
QualifierAlignment: Right
ReflowComments: false
RemoveSemicolon: true
RequiresClausePosition: WithFollowing
RequiresExpressionIndentation: OuterScope
AlignOperands: AlignAfterOperator
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
